{% extends 'layoutapp.html' %}

{% block h1 %}Explore{% endblock %}

{% block main %}
    <main class="mainScroll explore">
        <div id="themes-container">
            {% for quiz_content, images in pics.items %}
                {% if quiz_content not in non_participated_list %}
                    <div class="themeContainer">
                        <h2>{{ quiz_content }}</h2>
                        <div class="image-grid">
                            {% for pic in images %}
                                {% if forloop.counter == 6 %}
                                <div class="more">
                                    <input type="hidden" value="{{ pic.2 }}">
                                    <img src="{{ pic.1 }}" id="{{ pic.0 }}" class="image" alt="{{ pic.2 }} {{ quiz_content }}">
                                    <a id="loadMore" class="highlightText2" data-theme="{{ quiz_content }}" data-offset="6" data-url="{% url 'load_more' %}" ><i class="fa-solid fa-circle-plus"></i></a>
                                </div>
                                {% else %}
                                <input type="hidden" value="{{ pic.2 }}">
                                <img src="{{ pic.1 }}" id="{{ pic.0 }}" class="image" alt="{{ pic.2 }} {{ quiz_content }}">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if quiz_content in non_participated_list %}
                    <div class="themeContainer">
                        <h2>{{ quiz_content }}</h2>
                        <div class="image-grid blur">
                            {% for pic in images %}
                                <img src="{{ pic.1 }}" class="image" alt="{{ quiz_content }}">
                            {% endfor %}
                            <i onclick="snapTheme('{{ quiz_content }}')" class="fa-solid fa-eye highlightText2"></i>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div id="loading" class="loading">Loading...</div>
        
        <div id="explorePopup" class="explorePopup">
            <div class="explorePopup_text">
                <div>
                    <p>To view the photos in</p>
                    <h1 class="highlightText">[Placeholder]</h1>
                    <h2>please snap a photo to participate</h2>
                </div>
                <!-- Hidden form -->
                <form id="photoForm" enctype="multipart/form-data">
                    <input id="upload" name="pic" type="file" accept="image/*" capture="environment" required/>
                    <input name="theme" type="hidden" value="">
                    <label for="upload" class="shutter-button"></label>
                </form>  
            </div>
        </div>

        <div class="uploading" id="uploading">
            <div class="spinner"></div>
        </div> 

        <div id="popup" class="popup"></div>
    </main>

    <footer>
        <div><a href="{% url 'home' %}" class="fa-solid fa-house"></a></div>
        <div><a href="{% url 'explore' %}" class="fa-solid fa-compass active"></a></div>
        <div><a href="{% url 'profile' %}" class="fa-solid fa-user"></a></div>
    </footer>

    <script>
        const favorites = {{ favorites|safe }}; // Assuming favorites is a list of IDs
    </script>
    <script src="../static/loadScript.js"></script>
    <script src="../static/loadMorePhotos.js"></script>
    <script src="../static/expandedViewExplore.js"></script>
    <script src="../static/themePopUp.js"></script>
{% endblock %}