{% extends 'layout.html' %}

{% block title %}Explore{% endblock %}

{% block body %}

<div class="bodyApp">
    <header class="headerApp">
        <nav>
            <a href="{% url 'home' %}">
                <img>
            </a>
            <div>
                <i class="fa-regular fa-lightbulb"></i>
                <div class="toggle-switch">
                    <input class="toggle-input" id="toggle" type="checkbox">
                    <label class="toggle-label" for="toggle" id="toggle2"></label>
                </div>
                <i class="fa-regular fa-moon"></i>
            </div>
            
        </nav>
    </header>
    <main class="mainPhoto">
            <h1>Explore</h1>
            <div>
                {% for quiz_content, images in pics %}
                    <div class="themeContainer">
                        <h2>{{ quiz_content }}</h2>
                        <div class="image-grid">
                            {% for pic in images %}
                                <img src="{{ pic }}" class="image">
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if pics|length == 0 %}
                <div class="mainPhoto noExplore">
                    <div>
                        <h3 class="highlightText2">No themes to explore yet!</h3>
                        <p>Either you haven't participated or others haven't joined the ones you did.</p>
                    </div>
                    <h2 class="highlightText">Stay tuned—soon you'll be able to join older themes and catch up!</h2>
                </div>
            {% endif %}
    </main>
    <footer>
        <div><a href="{% url 'home' %}" class="fa-solid fa-house"></a></div>
        <div><a href="{% url 'explore' %}" class="fa-solid fa-compass active"></a></div>
        <div><a class="fa-solid fa-user"></a></div>
    </footer>
</div>
<script src="../static/js.js"></script>
<script src="../static/explore.js"></script>

<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

{% endblock %}