{% extends 'layoutapp.html' %}

{% block h1 %}{{ quiz }}{% endblock %}

{% block main %}
    <main class="mainScroll"> 
            {% for id, pic, user in pics %}
            <div class="photoContainer">
                <div>
                    <p>{{user}}</p>
                    <p>...</p>
                </div>
                <div class="photo">
                    <img src="{{pic}}" alt="{{ user }} {{ quiz }}">
                    <input type="checkbox" id="checkbox-{{id}}" class="bookmark-toggle" 
                           onchange="bookmark({{id}})"
                           {% if id in favorites %}checked{% endif %}>
                    <label for="checkbox-{{id}}" class="bookmark-icon {% if id in favorites %}bookmarked{% endif %}"></label>
                </div>
            </div>
            {% endfor %}
            
            <div id="popup" class="popup"></div>

            <div class="homeEnd">
                <i class="fa-regular fa-circle-check"></i>
                <div>
                    <h3>You are all caught up</h3>
                    <h4>You've seen all new posts</h4>
                </div>
                <a class="highlightText2" href="{% url 'explore' %}">Explore prior themes</a>    
            </div>
    </main>

    <footer>
        <div><a href="{% url 'home' %}" class="fa-solid fa-house active"></a></div>
        <div><a href="{% url 'explore' %}" class="fa-solid fa-compass"></a></div>
        <div><a href="{% url 'profile' %}" class="fa-solid fa-user"></a></div>
    </footer>

    <script src="../static/bookmarkHome.js"></script>
{% endblock %}