{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="bodyApp">
    <header class="headerApp">
        <nav>
            <a href="{% url 'home' %}">
                <img>
            </a>
            <h1>{{ quiz }}</h1>
            <div>
                <i class="fa-regular fa-lightbulb"></i>
                <div class="toggle-switch">
                    <input class="toggle-input" id="toggle" type="checkbox">
                    <label class="toggle-label" for="toggle" id="toggle2"></label>
                </div>
                <i class="fa-regular fa-moon"></i>
            </div>
            
        </nav>
    </header>
    <main class="mainPhoto">
            
            {% for id, pic, user in pics %}
            <div class="photoContainer">
                <div>
                    <p>{{user}}</p>
                    <p>...</p>
                </div>
                <div class="photo">
                    <img src="{{pic}}">
                    <input type="checkbox" id="checkbox-{{id}}" class="bookmark-toggle" 
                           onchange="bookmark({{id}})"
                           {% if id in favorites %}checked{% endif %}>
                    <label for="checkbox-{{id}}" class="bookmark-icon {% if id in favorites %}bookmarked{% endif %}"></label>
                </div>
            </div>
            {% endfor %}
            
            <div id="popup" class="popup"></div>

            <div class="homeEnd">
                <i class="fa-regular fa-circle-check"></i>
                <div>
                    <h3>You are all caught up</h3>
                    <h4>You've seen all new posts</h4>
                </div>
                <a class="highlightText2" href="{% url 'explore' %}">Explore prior themes</a>    
            </div>
    </main>
    <footer>
        <div><a href="{% url 'home' %}" class="fa-solid fa-house active"></a></div>
        <div><a href="{% url 'explore' %}" class="fa-solid fa-compass"></a></div>
        <div><a href="{% url 'profile' %}" class="fa-solid fa-user"></a></div>
    </footer>
</div>
<script src="../static/js.js"></script>
<script src="../static/bookmark.js"></script>
{% endblock %}