<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles.css">
    <script src="https://kit.fontawesome.com/858b52eeaa.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <title>Pixly</title>
    <script>
        (function() {
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme === 'dark-mode') {
                document.documentElement.classList.add('dark-mode');
            }
        })();
    </script>
    <script>
        const indexUrl = "{% url 'index' %}";
        const registerUrl = "{% url 'register' %}";
        const loginUrl = "{% url 'login' %}";
        const bookmarkUrl = "{% url 'toggle_favorite' %}";
    </script>
</head>
<body>
    {% block body %}{% endblock %}
    
    <script src="../../static/js.js"></script>
</body>
</html>