<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles.css">
    <script src="https://kit.fontawesome.com/858b52eeaa.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../../static/img/icon.ico" type="image/x-icon"/>
    <title>Pixly</title>
    <script>
        (function() {
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme === 'dark-mode') {
                document.documentElement.classList.add('dark-mode');
            }
        })();
    </script>
    <script>
        const indexUrl = "{% url 'index' %}";
        const registerUrl = "{% url 'register' %}";
        const loginUrl = "{% url 'login' %}";
        const bookmarkUrl = "{% url 'toggle_favorite' %}";
    </script>
</head>
<body>
    <div class="bodyApp">
        <header class="headerApp">
            <nav>
                {% block logo %}
                <a id="logoBackContainer">
                    <img src="../../static/img/logo.png" alt="Pixly logo">
                </a>
                {% endblock %}
                <h1>{% block h1 %}{% endblock %}</h1>
                <div>
                    <i class="fa-regular fa-lightbulb"></i>
                    <div class="toggle-switch">
                        <input class="toggle-input" id="toggle" type="checkbox">
                        <label class="toggle-label" for="toggle" id="toggle2"></label>
                    </div>
                    <i class="fa-regular fa-moon"></i>
                </div>
                
            </nav>
        </header>
        {% block main %}{% endblock %}
    </div>
    <script src="../../static/modetoggle.js"></script>
</body>
</html>