{% extends 'layoutapp.html' %}

{% block h1 %}{{ username }}{% endblock %}

{% block main %}
    <main class="mainScroll explore">
        <div class="userHeader">
            <div>
                <a id="followers" class="buttonsecondary2">Followers</a>
                <a id="following" class="buttonsecondary2">Following</a>
            </div>
            <div id="bmkOthers">
                <p>{{total_bkm}}</p>
                <p>saves</p>
                <!--<p>List of content id of saved user photos: {{bkm_others}}</p>-->
            </div>
        </div>
        <div id="popup" class="popup popupprofile"></div>

        {% if today_participation %}
            {% for item in photos %}
                {% if theme in item.quiz_content %}
                    <div class="photoOfTheDay">
                        <img src="{{ item.pic }}" alt="{{ item.theme }}">
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
        <div class="participate">
            <i onclick="snapTheme()" class="fa-solid fa-camera snapTheme"></i>
            <p>{{ theme }}</p>
        </div>
        {% endif %}
        
        <div id="explorePopup" class="explorePopup">
            <div class="explorePopup_text">
                <div>
                    <p>Snap and participate</p>
                    <p>in today's theme</p>
                    <h1 class="highlightText">{{ theme }}</h1>
                </div>
                <!-- Hidden form -->
                <form id="photoForm" enctype="multipart/form-data">
                    <input id="upload" name="pic" type="file" accept="image/*" capture="environment" required/>
                    <input name="theme" type="hidden" value="{{theme}}">
                    <label for="upload" class="shutter-button"></label>
                </form>  
            </div>
            <script src="../static/upload.js"></script>
        </div>
        <div class="loading" id="loading">
            <div class="spinner"></div>
        </div> 

        <div class="image-grid">
            {% for item in photos %}
                {% if item.quiz_content != theme %}
                    <img src="{{ item.pic }}" class="image" alt="{{ item.theme }}">
                {% endif %}
            {% endfor %}
        </div>
        
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </main>

    <footer>
        <div><a href="{% url 'home' %}" class="fa-solid fa-house"></a></div>
        <div><a href="{% url 'explore' %}" class="fa-solid fa-compass"></a></div>
        <div><a href="{% url 'profile' %}" class="fa-solid fa-user active"></a></div>
    </footer>

    <script src="../static/profile.js"></script>
{% endblock %}