{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block body %}

<div class="bodyApp">
    <header class="headerApp">
        <nav>
            <a href="{% url 'home' %}">
                <img src="../../static/img/logo.png" alt="Pixly logo">
            </a>
            <h1>{{ username }}</h1>
            <div>
                <i class="fa-regular fa-lightbulb"></i>
                <div class="toggle-switch">
                    <input class="toggle-input" id="toggle" type="checkbox">
                    <label class="toggle-label" for="toggle" id="toggle2"></label>
                </div>
                <i class="fa-regular fa-moon"></i>
            </div>
            
        </nav>
    </header>
    <main class="mainPhoto explore">
        <div class="userHeader">
            <div>
                <a id="followers" class="buttonsecondary">Followers</a>
                <a id="following" class="buttonsecondary">Following</a>
            </div>
            <div id="bmkOthers">
                <p>{{total_bkm}}</p>
                <p>saves</p>
                <!--<p>List of content id of saved user photos: {{bkm_others}}</p>-->
            </div>
        </div>
        <div id="popup" class="popup popupprofile"></div>

        {% for item in photos %}
            {% if item.quiz_content == theme %}
                <div class="photoOfTheDay">
                    <!--<p>Theme of the day: {{theme}}</p>-->
                    <img src="{{ item.pic }}" alt="{{ item.theme }}">
                </div>
            {% endif %}
        {% endfor %}

        
        <div class="image-grid">
            {% for item in photos %}
                {% if item.quiz_content != theme %}
                    <img src="{{ item.pic }}" class="image" alt="{{ item.theme }}">
                {% endif %}
            {% endfor %}
        </div>
        
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>

        <!--<div>
            {% for item in photos %}
            {{item.quiz_content}}
            <img src="{{item.pic}}" alt="{{item.theme}}" width="450px">                     
            {% endfor %}
        </div>-->
    </main>
    
    <footer>
        <div><a href="{% url 'home' %}" class="fa-solid fa-house"></a></div>
        <div><a href="{% url 'explore' %}" class="fa-solid fa-compass"></a></div>
        <div><a href="{% url 'profile' %}" class="fa-solid fa-user active"></a></div>
    </footer>
</div>
<script src="../static/js.js"></script>
<script src="../static/profile.js"></script>
{% endblock %}