{% extends 'layoutapp.html' %}



{% block logo %}
<a id="logoBackContainer" href="{% url 'profile' %}">
    <i class="fa-solid fa-arrow-left" style="font-size: 2rem;"></i>
</a>
{% endblock %}

{% block h1 %}Saves{% endblock %}

{% block main %}
    <main class="mainScroll explore">
        <div class="image-grid">
            {% for item in photos %}
                <div class="savedPhoto">
                    <img src="{{ item.pic }}" id="{{ item.id }}" class="image" alt="{{ item.quiz_content }}">
                    <div>
                        <i class="fa-solid fa-bookmark highlightText2"></i>
                        {% for key, value in dict_bkm_others.items %}
                        {% if key == item.id %}
                        <p> {{value}} </p>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

    <footer>
        <div><a href="{% url 'home' %}" class="fa-solid fa-house"></a></div>
        <div><a href="{% url 'explore' %}" class="fa-solid fa-compass"></a></div>
        <div><a href="{% url 'profile' %}" class="fa-solid fa-user active"></a></div>
    </footer>

    <script>
        const favorites = {{ favorites|safe }}; // Assuming favorites is a list of IDs
    </script>
    <script src="../static/bookmark.js"></script>
    <script src="../static/loadScript.js"></script>
    <script src="../static/profile.js"></script>
    <script src="../static/themePopUp.js"></script>
    <script src="../static/expandedViewProfile.js"></script>
{% endblock %}