{% extends 'layoutapp.html' %}
{% block title %}Snap{% endblock %}

{% block main %}
    <main class="mainNoScroll">
        <div>
            <h2>Today's theme is</h2>
            <h1 class="highlightText">{{quiz}}</h1>
        </div>
        <div>
            <p>You haven't taken today's theme photo.</p>
            <p>Snap below!</p>
        </div>
        <form id="photoForm" enctype="multipart/form-data">
            <input id="upload" name="pic" type="file" accept="image/*" capture="environment" required/>
            <input name="theme" type="hidden" value="{{quiz}}">
            <label for="upload" class="shutter-button"></label>
        </form> 
        <div class="uploading" id="uploading">
            <div class="spinner"></div>
        </div> 
    </main>

    <footer>
        <div><a href="{% url 'snap' %}" class="fa-solid fa-house active"></a></div>
        <div><a href="{% url 'explore' %}" class="fa-solid fa-compass"></a></div>
        <div><a href="{% url 'profile' %}" class="fa-solid fa-user"></a></div>
    </footer>

    <script src="../static/upload.js"></script>
{% endblock %}

