{% extends 'layoutapp.html' %}

{% block logo %}
<a id="logoBackContainer" href="javascript:history.back()">
    <i class="fa-solid fa-arrow-left" style="font-size: 2rem;"></i>
</a>
{% endblock %}

{% block h1 %}{{ username }}{% endblock %}

{% block main %}
    <main class="mainScroll explore">
        <div id="popup" class="popup popupprofile"></div>
        <div class="userHeader">
            <div>
                <i class="fa-solid fa-circle-plus highlightText"></i>

                <i class="fa-solid fa-circle-minus highlightText2"></i>
            </div>
        </div>

        {% if today_participation %}
            {% for item in photos %}
                {% if theme in item.quiz_content %}
                    <div class="photoOfTheDay">
                        <img src="{{ item.pic }}" id="{{ item.id }}" alt="{{ item.quiz_content }}">

                        <input type="checkbox" id="checkbox-{{item.id}}" class="bookmark-toggle" 
                            onchange="bookmark({{item.id}})"
                            {% if item.id in bkm_self %}checked{% endif %}>
                        <label for="checkbox-{{item.id}}" class="bookmark-icon {% if item.id in bkm_self %}bookmarked{% endif %}"></label>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        
        <div class="image-grid">
            {% for item in photos %}
                {% if item.quiz_content != theme %}
                    <img src="{{ item.pic }}" id="{{ item.id }}" class="image" alt="{{ item.quiz_content }}" onclick="showFullLayout('{{ item.pic }}','{{ item.quiz_content }}',{{ item.id }})" data-favorite="{% if item.id in bkm_self %}true{% else %}false{% endif %}">
                    <input type="hidden" value="{{ item.quiz_content }}">
                {% endif %}
            {% endfor %}
        </div>
    </main>

    <footer>
        <div><a href="{% url 'home' %}" class="fa-solid fa-house"></a></div>
        <div><a href="{% url 'explore' %}" class="fa-solid fa-compass"></a></div>
        <div><a href="{% url 'profile' name=user.name %}" class="fa-solid fa-user"></a></div>
    </footer>

    <script>
        const favorites = {{ bkm_self|safe }}; // Assuming favorites is a list of IDs
    </script>
    <script src="../static/bookmarkProfile.js"></script>
    <script src="../static/loadScript.js"></script>
    <script src="../static/themePopUp.js"></script>
    <script src="../static/profileToExpandedView.js"></script>
{% endblock %}